# Llama2
# torch
# fairscale
# sentencepiece

# basis
pandas
numpy
requests

# terminal
fire
# api
# process
tqdm
# bm25
rank_bm25
# flask
flask

openai

# evaluate
''' 
the version of python must be <3.12
* https://github.com/mrabarnett/mrab-regex/issues/413
'''
nltk